.nav_con {
    border-bottom: 1px solid #E4E7EC;
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}
.nav_left{
    padding-left: 7%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav_img{
    height: 2rem;
}
.nav_img img{
    height: 100%;
    cursor: pointer;
}
.nav_txt{
    height: 2.5rem;
}
.nav_txt h1:nth-child(1) {
    font-size: 22px;
    font-weight: 400;
    font-family: "Audiowide", sans-serif;
}
.nav_txt h1:nth-child(2) {
    letter-spacing: 8px;
    font-size: 11px;
    font-weight: 500;
    line-height: 0;
    text-align: center;
}

.nav_right {
    padding-right: 7%;
}


.nav_elem {
    display: flex;
    align-items: center;
    gap: 10px;
}
.elem {
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}
.elem h5{
    font-weight: 300;
    transition-property: all;
    transition-duration: 0.3s;
}
.elem h5:hover{
    color: black;
}
